<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Html aqui </p>
    <p>
        <%= //locals é tudo que vem do server, então ta sempre definido e nunca vai dar erro
            //se não tem o atributo text, mostra a outra mensagem
            locals.text || "Nenhum texto passado"
        %>
    </p>
</body>
</html>